<div class="container__big-card">
  <div class="big-card__photo">
   <img
      src="https://www.dwinawan.com/blog/thumb_article35.jpg"
      alt=""
      srcset=""
      height="300px"
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#">Essa será a minha primeira postagem no meu blog feito com Angular e TypeScript.</a></h1>
  </div>
  <div class="big-card__discription">
    <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</a>
    </p>
  </div>
</div>
