header{
  /* margin-top: 30px;
  margin-bottom: 30px; */
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  height: 85px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);


}
